name: card_input_field
description: A new Flutter package.
version: 0.1.1
authors:
  - Hossein_Asadi
homepage: https://github.com/HosseinAsadi/card_input_field

environment:
  sdk: '>=2.12.0 <3.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
